<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BCryptConfig" type="System.Configuration.AppSettingsSection, System.Configuration" />
  </configSections>
  <BCryptConfig>
    <add key ="WorkCost" value="12"/>
    <add key ="HashType" value="2"/>
  </BCryptConfig>
</configuration>